.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal_content {
    margin: 200px auto 0 auto;
    background-color: white;
    width: 600px;
    padding: 50px 0 50px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.modal_content > h1 {
    text-align: center;
    color: rgb(70, 70, 70);
    font-size: 24px;
}