.rowLike {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.contenedorColumnas {
    margin: 50px 100px 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.proceso {
    background-color: rgb(222, 92, 45);
    color: white;
    padding: 10px 20px;
}

.procesoActual {
    background-color: rgb(222, 92, 45);
    color: white;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.processing_zone_container {
    width: 350px;
    text-align: center;
}

.processing_zone_container > h2 {
    margin-bottom: 20px;
}

.processing_zone {
    border: 3px solid rgb(0, 20, 42);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 250px;
    overflow: scroll;
}

.countdown {
    font-size: 35px;
    margin-bottom: 20px;
}
